$color-primario: rgb(255, 255, 255);
$tamaño-fuente:40px;
$fuente-letra:  'Oswald',sans-serif;

h2{
   font-family: $fuente-letra;
}

* {
   box-sizing: border-box;
   margin:0;
   padding: 0;
 
 }
.carousel-item{
   height: 500px;;
   min-height: 500px;
   background: no-repeat center center scroll;

   -webkit-background-size:cover;
   background-size:cover;
}
.carousel-caption h5{
   font-size:45px;
   justify-content: center;
   text-transform: uppercase;
   letter-spacing: 2px;
   
  
}
.carousel-inner{
 height: 500px;
}
.carousel-indicators{
 margin-top: 20px;
}
.carousel-inner{
 height: 20px;
}
.header1 {
   font-family: Helvetica;
   width: 100%;
   margin: 0 auto;
   height: 700px;
   color: rgb(5, 4, 4);
 
 }

.carousel-inner{
   height: 1000px;
}
.carousel-caption p{
   width: 75%;
   margin:auto;
   font-size: 10px;
   line-height: 1.9;
}
.navbar-brand{
 color:rgb(221, 146, 146);
}

.navbar-expand{
   height: 150px;
}
.navbar {
 background-color: rgb(255, 255, 255);
 
}
.navbar-light .navbar-brand{
   color:rgb(2, 2, 2);
   font-size:50px;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 8px;
   
}
.navbar-light .navbar-nav .active> .nav-link, .navbar-light .navbar-nav .navbar-link.active, .navbar-light .navbar-nav .nav-link.show,.navbar-light .navbar-nav .show> .nav-link{
color:rgb(3, 3, 3);
font-weight: bold;
font-size:15px;

}


.navbar-light .navbar-nav .nav-link{
   color:rgb(8, 8, 8);
   font-weight: bold;
   font-size:15px;
  
}

.mkd-interactive-icon .mkd-interactive-icon-title {
  transition: transform .2s ease-out;
}
.mkd-interactive-icon:hover .mkd-interactive-icon-title {
 transform:translateY(-84px);
 transition:transform .5s ease 0.5s,top .2s ease-out .4s;
}
.mkd-interactive-icon .mkd-interactive-icon-hover-content {
  position: absolute;
  left:50%;
  transform:translateX(-50%);
  width: 80%;
}
.mkd-interactive-icon .mkd-interactive-icon-image {
text-align: center;
-webkit-transition: opacity .15s ease-out .15s,-webkit-transform .3s;
transition: opacity .15s ease-out .15s,transform .3s;
-webkit-transform: scale(1);
transform: scale(1);
}
.mkd-interactive-icon .mkd-interactive-icon-hover-content .mkd-interactive-icon-text {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 6px 20px 10px;
text-align: center;
color: rgb(216, 50, 50);
opacity: 0;
-webkit-font-smoothing: antialiased;

}
.mkd-interactive-icon .mkd-interactive-icon-hover-content .mkd-interactive-icon-small.icon-holder {
display: block;
text-align: center;
position: relative;
bottom: 5px;
color: #fff;
opacity: 0;
-webkit-font-smoothing: antialiased;

}
.mkd-interactive-icon:hover .mkd-interactive-icon-image {
opacity: 0;
-webkit-transition: opacity .2s ease-out,-webkit-transform .2s ease-out;
transition: opacity .2s ease-out,transform .2s ease-out;
-webkit-transform: scale(.4);
transform: scale(.4);
}
.mkd-interactive-icon:hover .mkd-interactive-icon .mkd-interactive-icon-hover-content .mkd-interactive-icon-text {
  position: absolute;
left: 40%;
top: -40px;
opacity: 1;
transition: opacity .2s ease-out,transform .2s ease-out;
}
.mkd-interactive-icon:hover .mkd-interactive-icon-initial-content {
  transform: translate(0,-50px);
  transition: opacity .2s ease-out,transform .2s ease-out;
}
.card-text{
   color:black;
 }



.tarjetas{
 background-color: rgb(248, 247, 247);
 height: 1500px;
}


.section {
   width:100%;
   height:700px;
   display:flex;
   justify-content: center;
   align-items:center;
   background-color: rgb(0, 0, 0);
}


 .panel {
margin-top: 20px;
  height:320px;
  background-color: rgb(7, 7, 7);
}
.carousel-control-prev-icon{
 margin-top:100%;
}
.carousel-control-next{
 margin-top:15%;
}
button{
  margin-top:20px;
  width: 440px;
  height: 300px;
  padding: 20px;
  margin-right: auto;
  color: rgba(243, 239, 239, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  border: #080808;
  font-family: 'Times New Roman', Times, serif;
}
.imagen{
  
  padding-top: 0%;
  margin-top:-25%;
  
}
.marti{
 height: 150%;
 width: 100%;
}
.card-group{
 padding: 10px;
 height: 50%;
 width: 100%;
 margin-left: 0%;
 margin-right: 0%
 ;
}
.card{
 padding:-3%;
 height: 700px;
width: 100%;
margin-left: 15%;
margin-right: 15%;
  
   margin-top: 30px;
}
.card-img-top{
height: 300px;
width: 300px;
float:center;
margin-left: 10%;
 margin-right: 10%
 ;
 margin-top: 10%;
 
}

.clasepadre{
 display:flex;
margin-top:30px;
margin-bottom: 50px;
}
.texto2{
 background-color: rgb(231, 228, 228);
 color:rgb(53, 51, 51);
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: 17px;
  width: 500px;
 margin-left: 100px;
}
.texto4{
 color:rgb(63, 57, 57);
 font-size: 17px;
 border-top: blanchedalmond;
 text-align: left;
 margin-top:50px;
 margin-left: 30px;
 font-family: Arial, Helvetica, sans-serif;
 
}
span{
 color: #070707;
}
/**jjjjjjjjjjjjjjjjjjjjjjjjjj*/

*{
 margin:0px;
 padding: 0px;
 box-sizing: border-box;
 font-family: sans-serif;
}
.container1, .box, .titulo ,.content1 .redes-sociales{
 width:100%

}

.container1{

 max-width: 1150px;
 margin:auto;
 margin-top:50px;
 text-align:center;
 color:rgb(53, 51, 51);
 line-height: 1,7;
 height: 1000px;
}
.titulo1{
 max-width: 600px;
 margin:auto;
 margin-bottom: 60px;
}
.titulo1 .h1{
margin-bottom: 25px;
}
.content1{
 display: flex;
 flex-direction: column;
 height: 1000px;
}
.box figure{
width: 100%;
margin-bottom: 20px;
position: relative;
}
.box figure img{
 width: 200px;
 height: 200px;
 border-radius: 50%;
 object-fit: cover;
}
.descripcion{
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 margin-inline-start:20px;
 text-align: left;
 padding: 20px;

 border-color: violet;
 border-top: 3px solid rgb(8, 8, 8);
border-bottom: 3px solid rgb(5, 5, 5);
}

.redes-sociales{
  position:absolute;
  bottom:0;
  left:0;
  background:rgba(255,255,255,0.7);
  height:0%;
  line-height: 260px;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

.box:hover .redes-sociales{
 opacity: 1;
 visibility: visible;
 height: 100%;
}

.box:hover h4{
 color:#e63e72;
}
.redes-sociales i{
padding: 5px;
font-size:22px;
columns: #e20c0c;
transition:all 500ms ease;


}
.redes-sociales i:hover{
  color:#e63e72;
}

.lista{
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
 height: 0%;
 
  visibility: hidden;
  color:pink;
}
.botoncito:hover .lista{
 visibility: visible;
 line-height: inherit;
  height: 100%;
  color:rgb(59, 56, 56);
}
.more{
 visibility: hidden;
}
.botoncito:hover a{
 visibility: visible;
 line-height: inherit;
  height: 100%;
  color:rgb(250, 246, 246);
}
/**seccion pieee**/


.hola{

 

 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
 text-align: left;
 padding: 50px;

font-size: 17px;;


color: aliceblue;

 height: 1000px;
 background-color: black;
}